/* Filename: main.css 
 *  + Contains the CSS styling for all of the static visual elements.
 *  !!! NOTE !!! Does not contain styling for the navigation or form elements 
 * 
 *  + All measurements are given in terms of 'em' except for background position values which are 
 *    given in terms of 'px'.
 * 
 *  + The responsive breaklines fall according to the following browser dimensions:
 *    - 1920x1020
 *    - 1600x900
 *    - 1366x768
 *    - 1280x800
 * ******************************************************************************************** */

body {
  margin: 0;
	padding: 0;
	overflow-x: hidden;
}
/* Formats the <body> HTML tag */

#cntainr {
  width: initial;
  height: initial;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	clear: both;
	z-index: 1;
}
/* Formats the <div> which holds all of the text and form content. */

.wndow {
	padding: 0;
	margin: 0;
	position: relative;
	top: 0;
	left: 0;
}
/* Formats the <div> which holds the text and form content of a particular 'SECTION' */

#bkgrnd {
	position: absolute;
	top: 0;
  left: 0;
	z-index: 0;
}
/* Formats the <div> which holds the <div> elements which hold the background images 
 * for the individual sections. 
 */

 #bkgrnd > div {
   background-repeat: no-repeat;
 }
 /* Formats the <div> elements which hold the background images for the individual sections. */

.headr {
	height: 4.4em;
	position: absolute;
	opacity: 0;
}
/* Formats the <div> which holds the 'SECTION' title for a given section. */

.headr > div > span {
  width: 16.25em;
  display: block;
  font: 400 italic 2.75em 'amboy', sans-serif;
  color: #fff;
	letter-spacing: 1px;
}
/* Formats the <span> element which holds the text of the 'SECTION' title of a 
 *  particular section. 
 */

 .headr > div {
   float: left;
 }

 .headr > div:nth-child(2) {
   margin-top: 2.1em;
 }

.copy {
  display: none;
	position: absolute;
  float: left;
  top: 0;
  left: 0;
}
/* Formats the <div> which holds the text or form content within a section. 
   '.copy' elements differ from '.wndow' elements in that '.copy' elements only 
   hold the content of one sub-section, while '.wndow' elements hold many 
   sub-sections.
*/

.blok-1 {
  padding: 2.5em;
  display: block;
  background-image: url('/lvusl/assets/img/misc/bkgrnd_copy.png');
  border: 2px solid #f51b74;
}

#info > div > a:hover, 
.sctn_4-article + a:hover {
  border: 1px solid #fff113;
}
/* Adds :hover events to the links which appear as buttons. */

.sctn_nav > div > a:hover {
  color: #f51b74;
}

#info > div > a:first-of-type,
#info > div > p,
#wndow_footer-main > span,
#email-content a:first-of-type, 
#email-content p,
.headr > div > a, 
.wndow_footer > a:nth-child(2), 
.blok-1 p {
  font-family: 'cholla-wide', sans-serif;
  letter-spacing: 0.7px;
}
/* Sets the fonts of various HTML elements as Cholla Wide (cholla-wide) */

#info > div > a,
#email a,  
.sctn_nav > div > a, 
.headr > div + div > a {
  font-family: 'korolev-military-stencil', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-align: center;
}
/* Sets the fonts of the above elements as Korolev Military Stencil (korolev-military-stencil) */

#info > div > a, 
#email-content a:first-of-type,
.headr > div + div > a, 
.wndow_footer > a:nth-child(2) {
  color: #fff113; 
}
/* Sets the color of the above elements to a shade of blue. */

#email a,
.sctn_nav > div > a {
  color: #00a1e1;
}
/* Sets the color of the above elements to a shade of blue. */

#email a, 
.headr > div + div > a {
  text-decoration: none;
}
/* Deactivates the underline attribute of the above elements. */

#info > div > a:first-of-type,
#info > div > p, 
.wndow_footer > span,
.wndow_footer > a:nth-child(2), 
.headr > div:first-of-type > span, 
.headr > div > a {
  text-shadow: 1px 1px #333;
}
/* Sets the text within the above elements to display with a shadow. */

#email-content p,
.blok-1 p {
  line-height: 1.4em;
}
/* Sets the line height of the above elements. */

#email-content, 
#email a, 
.sctn_nav > div > a, 
.wndow_footer > a:nth-child(1) {
  box-shadow: 1px 1px 2px 1px #333;
}
/* Adds a shadow to the above elements using the 'box-shadow' property. */

.blok-1 p {
  font-size: 1.1em;
  color: #fff;
}

/* ---- 'MAIN LANDING PAGE' ---- 
 * Holds a <div>, with an id of "#info", which contains the content which appears on the landing 
 * portion of this template.
 */

#info {
	position: relative;
}
/* Formats a <div> which contains the logo and <ul> list which is displayed 
 * in the landing portion.
 */

#info > img {
  padding: 1.7em;
	display: none;
  position: relative;
  float: left;
}
/* Formats the logo which is contained within the <div> using the selctor, "#info". */

#info > div {
  height: 9.75em;
  float: left;
}
/* 
 * Formats the <div> element which appears to the right of the logo within a 
 * desktop browser and contains <a> elements which allow a user to sign up for 
 * a newsletter or reserve season tickets.
 */

#info > div > a,
.headr > div > a, 
.headr > div + div > a, 
.sctn_4-article + a {
  width: 12.5em;
  height: 1.5em;
  margin-right: 0.5em;
  padding: 0.15em;
  display: block;
  float: left;
  background-color: #00a1e1;
  border: 1px solid #00a1e1;
  font-size: 1.2em;
  text-decoration: none;
  text-align: center;
}
/* Formats the links which appear as buttons. */

#info > div > a:first-of-type, 
.headr > div > a,
.wndow_footer > a:nth-child(2),
.sctn_4-article + a {
  width: 12.5em;
  height: 1.5em;
  padding-top: 0.3em;
  background: none;
  border: none;
  color: #fff113;
  font-weight: 700;
  text-decoration: underline;
}
/* 
 * Formats the link, 'Email Alerts', which appears to the right of the logo within 
 * MAIN LANDING SECTION. This link is formatted because the size of the button without 
 * formatting is smaller than the link, 'Reserve Season Tickets'.
 */

.headr > div > a {
  padding: 0 0 0 0.75em;
  float: none;
}
 /* Formats the link which appears over the text of the header */

#info, 
#info > div > a, 
#info > img, 
#info > div > p, 
#info > div > div, 
.wndow_footer {
  opacity: 0;
}
/* Formats the <a> elements which appear to the right of the logo on 'MAIN LANDING SECTION'. */

#info > div > a:nth-child(4) {
  margin-right: 0;
}
/* 
 * Formats the link, 'Reserve Season Tickets', which appears to the right of the logo 
 * within MAIN LANDING SECTION.
 */

 #info > div > p {
  width: 24.5em;
  margin-top: 0.5em;
  position: relative;
  float: right;
  right: 9.5em;
  color: #fff;
  font-size: 1.15em;
  font-weight: 700;
  text-align: justify;
  line-height: 1.35em;
}
/* 
 * Formats the paragraph that appears below the link near the upper left 
 * of the browser window.
 */

#info > div > div {
  width: 23em;
  height: 2em;
  margin: 1em 10em;
  position: relative;
  left: 17.75em;
  clear: both;
}

#info > div > div > span {
  width: 7.3em;
  height: 2em;
  display: inline-block;
}

#info > div > div > span:nth-child(1), 
#info > div > div > span:nth-child(3) {
  border-bottom: 1px dotted #f51b74;
}

#info > div > div > span:nth-child(2) {
  border-bottom: 1px solid #f51b74;
}

.wndow_footer {
  position: absolute;
  left: 1.7em;
  opacity: 0;
}

.wndow_footer > span {
  display: block;
  position: absolute;
  font-size: 1.1em;
  color: #fff;
  letter-spacing: 0.7px;
}

.wndow_footer > a:nth-child(1) {
  width: 3.3em;
  height: 3.3em;
  margin-right: 0.75em;
  display: block;
  float: left;
  background-image: url('/lvusl/assets/img/misc/footer_link_logo.png');
}

.wndow_footer > a:nth-child(2) {
  width: 70em;
  height: 2.5em;
  margin-top: 0.6em;
  display: block;
}

#email {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
/* Formats the <div> element which holds the email alert splash page. */

#email-content {
  width: 23.13em;
  height: 21em;
}
/* 
 * Formats the <div> element which holds the copy contained within the 
 * splash page.
 */


#email-content img {
  margin: 0 auto 1.25em auto;
  display: block;
}
/* 
 * Formats the logo image which displays on the 'splash' of the loading 
 * of the webpage.
 */

#email-content p {
  margin: 0.25em 0 0 0;
  padding: 1em 0;
  font-size: 1.1em;
  color: #00a1e1;
  text-align: justify;
}
/* Formats the <p> element which contains the description copy. */

#email-content > div > div {
  width: 23em;
  height: 6.25em;
  margin: 1.5em auto 0 auto;
}
/* Formats the <div> elements holding the Calls to Action used on the splash screen. */

#email a {
  width: 8.87em;
  height: 1.25em;
  padding: 2em 0;
  display: block;
  float: left;
  background-color: #fff113;
  color: #00a1e1;
}
/* Formats the Calls to Action used within the Splash screen. */

#email a:nth-child(2) {
  margin-left: 1.4em;
}

#email-bkgrnd {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.7;
  z-index: -1;
}
/* Formats the dark gray background of the splash page. */

.visible {
  display: block;
}
/* Formats a <div> element which allows two questions of 'FORM TYPE #2' to be made visible. */

.not_visible {
  display: none;
}
/*  Formats a <div> element which allows two questions of 'FORM TYPE #2' to be made invisible. */

.visible, 
.not_visible {
  opacity: 1;
}
/* Formats the <div> elements which contain the form questions of 'FORM TYPE #2'. */

.sctn_1-blok, 
.sctn_3-blok, 
.sctn_4-link, 
.sctn_5-blok, 
.sctn_6-blok {
  width: 20em;
 	height: initial;
	padding: 1em 2em;
	position: absolute;
  z-index: 2;
	opacity: 0;
}
/* Formats the 'block' which hold <input> elements which contain form questions. */


/* ---- 'SECTION #1' ---- */

#wndow-sctn_1 .copy > div {
  position: absolute;
}

#sctn_1-copy {
  width: 25.5em;
  height: 22.75em;
}

#sctn_1-copy p:first-of-type {
  margin-top: 0;
}

#sctn_1-map img, 
#sctn_1-video, 
#sctn_1-document {
  border: 2px solid #f51b74;
}
 
#sctn_1-form {
  height: 21.6em;
  background-color: #ffd283;
}

#sctn_1-desc-1 {
  left: 41.25em;
  background-color: #b6dbda;
}

#sctn_1-desc-1 > p {
  font-family: 'Istok Web', sans-serif;
  font-size: 1em;
  color: #509590;
}

.sctn_1-blok > form > span {
	width: 100%;
	padding-bottom: 0.25em;
	display: inline-block;
  font-family: 'Istok Web', sans-serif;
	font-weight: 700;
	font-size: 1em;
  color: #af9015;
}
/* Formats a <span> element which contains a text header for 'FORM TYPE #2'. */


.sctn_1-blok > form > div > div > span {
  font-family: 'Istok Web', sans-serif;
  color: #363637;
}
/* Formats the text descriptors for the form questions of 'FORM TYPE #2'. */

.sctn_1-blok > form > div > div {
  margin: 0.75em 0;
}
/* Formats the <div> elements which surround form questions of 'FORM TYPE #2. */

.sctn_1-blok > form > div > div:first-of-type, 
.sctn_1-blok > form > div > div:nth-child(3) {
  margin-top: 0.1em;
}
/* 
 * Formats the <div> element which surrounds the form questions of 'FORM TYPE #2' 
 * which appear near the top of the block, '.sctn_1-blok'.
 */

#ticket-line_3 {
	margin-bottom: 1.25em;
}
/* Formats the text fields of the second question of 'FORM TYPE #2' of 'SECTION #1'. */

/* ---- 'SECTION #2' ---- */

#sctn_2-video, 
#sctn_2-document {
  padding: 1em;
  background-color: #ccc;
}
/* 
 * Formats the <div> element which serves as a border for the embedded video 
 * and the splash image. 
 * 
 */


/* ---- 'SECTION #3' ---- */

#sctn_3-desc-1 {
  background-color: #e4e1fd;
  font-family: 'Istok Web', sans-serif;
}

.sctn_3-blok > span {
	width: 100%;
	display: block;
	padding-bottom: 0.1em;
	border-bottom: 2px solid #b8b0f5;
  color: #3a74ba;
	font-size: 1em;
	font-weight: 700;
}
/* 
 * Formats a <span> element which contains a text header for the 'block' within each 
 * sub-section. The <span> elements appear within the <div> elements using the selectors, 
 * 'sctn_3-desc-2', 'sctn_3-desc-3', & 'sctn_3-desc-4'.
 */

#sctn_3-desc-1 > p, 
.sctn_4-article > p, 
.sctn_5-lising > p {
  text-indent: 1.3em;
	line-height: 1.5em;
	color: #5a92d4;
}
/* Formats <p> elements which are contained with an individual block contained 
 * within 'SECTION #3'.
 */


/* ---- 'SECTION #4' ---- */

.sctn_4-link {
  margin: 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  background-color: #d9af83;
  font-family: 'Istok Web', sans-serif;
}
/* Formats the <div> elements which hold news links. */

.sctn_4-link > a {
  display: block;
  color: #51300e;
  padding-bottom: 0.75em;
}
/* Formats the news links. */

.sctn_4-link > span {
  color: #6b4014;
}
/* Formats the dates within the <div> elements */

.sctn_4-article {
  width: 50em;
  height: initial;
  padding: 1em 2em;
  float: left;
  background-color: #a2c1c9;
  font-family: 'Istok Web', sans-serif;
}
/* Formats the <div> "block" which holds the news copy. */

.sctn_4-article > h3 {
  margin: 0;
  color: #fff;
  font-weight: 700;
}
/* Formats the title of the news article. */

.sctn_4-article > span {
  margin-bottom: 0.5em;
  color: #fff;
}
/* Formats the date of the article. */

.sctn_4-article > p:first-of-type {
  margin-top: 0.75em;
  padding-top: 1em;
  border-top: 2px solid #33606D;
}
/* Formats the first <p> element within a news article. */

.sctn_4-article > p {
  color: #0E3743;
}
/* Formats the <p> elements within a news article. */

.sctn_4-article + a {
  margin-left: 1.75em;
  float: left;
}
/* 
 * Formats the link to return to the page of link which 
 * appear to the right of the <div> element which holds the news article. 
 */


/* ---- 'SECTION #5' ---- */

.sctn_5-blok {
  font-family: 'Istok Web', sans-serif;
}
/* Formats the blocks which are contained with 'SECTION #5'. */

#sctn_5-job_titles, 
#sctn_5-job_listings {
  position: absolute;
}
/* Formats the block which contains text content but does not include a <button> element 
 * which appears within the 'FIRST WINDOW PANE' of 'SECTION #5'. 
 */

#sctn_5-catagories {
  width: 14em;
  background-color: #ffe0c1;
}
/* Formats the block which holds the job titles. */

#sctn_5-catagories > span {
  margin-bottom: 0.75em;
  display: block;
  border-bottom: 2px solid #fff6ed;
  font-size: 1em;
  font-weight: 700;
}
/* 
 * Formats the <span> element which holds the header for the block containing 
 * job titles. 
 */

#sctn_5-catagories > div {
  margin-top: 1em;
}
/* Formats the <div> elements which contain catagories of job titles. */

#sctn_5-catagories > span, 
#sctn_5-catagories > div > span {
  color: #ee9e4f;
}
/* 
 * Formats the header for the block and also job catagory titles.
 */

#sctn_5-catagories > div > span + span {
  height: 1em;
  margin-left: 0.5em;
  padding: 0 0.35em 0.3em 0.3em;
  background-color: #ee9e4f;
  color: #ffe0c1;
  text-align: center;
}
/* Formats the blocks which appear to the right of job catagory titles. */

#sctn_5-catagories > div > span, 
#sctn_5-catagories > div > span + span {
  display: block;
  float: left;
  font-weight: 700;
}
/* Formats the header for the block and the title of individual job catagories. */

#sctn_5-catagories > div > a {
  display: block;
  color: #75a6b2;
  clear: both;
}
/* Formats job titles within the block holding job catagories. */

.sctn_5-listing {
  width: 50em;
  padding: 1em 2em;
  float: left;
  background-color: #eef1fe;
  font-family: 'Istok Web', sans-serif;  
}
/* Formats the <div> element which holds job descriptions. */

.sctn_5-summary > h4 {
  margin: 0;
  color: #75a6b2
}
/* Formats the job title within the <div> element which holds job descriptions. */

.sctn_5-summary {
  border-bottom: 2px solid #ffbb77;
}
/* 
 * Formats the summary which appears below the job title within the <div> 
 * element which holds job descriptions. 
 */

.sctn_5-summary > ul {
  margin: 0.5em 0 0.6em 0;
}
/* 
 * Formats the <ul> element which appears below the job title within the <div> 
 * element which holds job descriptions. 
 */

.sctn_5-summary > ul > li {
  list-style: url('/lvusl/assets/img/misc/disc.png');
}
/* 
 * Formats the individual list items which appear below the job title within 
 * the <div> element which holds job descriptions.
 */

.sctn_5-summary > h4, 
.sctn_5-summary > ul > li, 
.sctn_5-job_desc > p {
  color: #7facbb;
}
/* Formats the job title, list itemts, and copy of the job desciptions. */

.sctn_5-job_desc > p {
  padding-left: 2.5em;
}
/* Formats the <p> elements which appear as part of the job descriptions. */



/* ---- 'SECTION #6' ---- */

.sctn_6-blok {
  width: 40.5em;
  padding: 0;
}
/* Formats a <div> element which hold social media images and links. */

.sctn_6-social_media_link {
  width: 16em;
  height: 8em;
  margin: 0 2em 2em 0;
  padding: 1em;
  float: left;
  background-color: #C7C5E4;
  font-family: 'Istok Web', sans-serif;
  color: #f4c887;
}
/* Formats the individual blocks which hold social media content. */

.sctn_6-social_media_link > a > img {
  margin: 0 auto 0.5em auto;
  display: block;
}
/* Formats the images which appear as part of individual blocks. */

.sctn_6-social_media_link > a + a {
  width: 16em;
  margin: 0 auto;
  display: block;
  color: #3a5a98;
}
/* Formats the text links which appear as part of individual blocks. */

#sctn_6-instagram > a + a {
  width: 16.25em;
}
/* Formats the text link for the block holding Instagram content. */

#sctn_6-twitter > a + a {
  width: 14.75em;
}
/* Formats the text link for the block holding Twitter content. */

#sctn_6-youtube > a + a {
  width: 15.5em;
}
/* Formats the text link for the block holding YouTube content. */



@media screen and (min-width: 1260px) and (max-width: 1320px) {
  /* This CSS breakpoint affects browsers which have a width between 1260px and 1320px. 
  * This breakpoint is optimized to fit resolutions of 1280x800. 
  */

  #cntainr {
    width: 80em;
  }

  #info {
    width: 79em;
    height: 6.7em;
  }

  #info > div {
    height: 4.5em;
    margin: 1.55em 0 0 13em;
  }

  #email {
    width: 79em;
    height: 48em;
  }

  #email-blok {
    transform: translate(16%, 19%);
  }

  #email-bkgrnd {
    width: 79em;
    height: 48em;
  }

  #email a {
    top: 7em;
    left: 11em;
  }

  .headr {
    width: 66.25em;
  }

  .copy {
    width: 72.75em;
    margin: 11.15em 0 0 6.25em;
  }

  #sctn_1-desc-1 {
    left: 44.5em;
  }

  #sctn_2-video {
    width: 42.5em;
    height: 24em;
    margin-left: 11.25em;
  }

  #sctn_2-document {
    width: 32.5em;
    margin-left: 15.5em;
  }

  .sctn_5-listing {
    width: 44em;
  }

  #sctn_5-job_titles {
    left: 50.25em;
  }
}

@media screen and (min-width: 1340px) and (max-width: 1580px) {
  /* This CSS breakpoint affects browsers which have a width more than 1340px and a width less than 1580px. 
  * This breakpoint is optimized to fit resolutions of 1366x768px.
  */
  
  #cntnr {
    width: 85.38em;
  }

  #bkgrnd {
    width: 85.38em;
  }

  #info {
    width: 84.25em;
    height: 12.75em;
  }

  #info > div {
    width: 63.7em;
    margin: 2.75em 0 0 1.25em;
  }

  .wndow_footer {
    width: 84.5em;
    height: 7.25em;
  }

  #email {
    width: 85.75em;
    height: 48em;
  }

  #email-content {
    transform: translate(97%, 26%);
  }

  #email-bkgrnd {
    width: 85.75em;
    height: 48em;
  }

  #email a {
    top: 3em;
    left: 13.5em;
  }

  .headr {
    width: 77.8em;
    margin: 2.75em 0 0 6.5em;
  }

  .copy {
    width: 81.75em;
    height: 38.75em;
    margin: 6.5em 0 0 7em;
  }
  
  #sctn_1-desc-1 {
    left: 17em;
  }

  #sctn_2-video {
    width: 42.5em;
    height: 24em;
    margin-left: 13em;
  }

  #sctn_2-document {
    width: 32.5em;
    margin-left: 18.25em;
  }

  #sctn_5-job_titles {
    left: 56.5em;
  }
}

@media screen and (min-width: 1590px) and (max-width: 1900px) {
  /* This CSS breakpoint affects browsers which have a width more than 1590px and a width less than 1900px. 
   * This breakpoint is optimized to fit resolutions of 1600x900px.
   */

  #info {
    width: 99em;
    height: 9em;
  }

  #info > div {
  width: 19em;
  height: 4.75em;
  margin: 1.75em 0 0 32.75em;
  float: left;
  }

  #email {
    width: 99em;
    height: 56.5em;
  }

  #email-blok {
    transform: translate(20%, 8%);
  }

  #email-bkgrnd {
    width: 99em;
    height: 56.5em;
  }

  #email a {
    top: 2em;
    left: 13.5em;
  }

  .copy {
    width: 92.5em;
    height: 43.75em;
    margin: 12em 0 0 6.5em;
  }

  .headr {
    width: 92.5em;
    margin: 3.25em 0 0 6.5em;
  }

  .sctn_1-blok, 
  .sctn_3-blok, 
  .sctn_4-link, 
  #sctn_5-job_titles {
    width: 20em;
  }

  #sctn_2-video {
    width: 50em;
    height: 28.1em;
    margin-left: 17em;
  }

  #sctn_2-document {
    width: 38em;
    height: 28.55em;
    margin-left: 22.5em;
  }

  .sctn_4-link {
    height: 5em;
  }

  #sctn_5-job_titles {
    left: 56em;
  }
}

@media screen and (min-width: 1910px) {
  /* This CSS breakpoint affects browsers which have a width more than 1910px. 
   * This breakpoint is optimized to fit resolutions of 1920x1020px.
   */

  #info {
    width: 119em;
    height: 15em;
  }

  #info > div {
    width: 63.75em;
    margin: 1.5em 0 0 36.25em;
  }

  .wndow_footer {
    width: 117.25em;
    height: 7.25em;
    bottom: 4.25em;
  }

  #email {
    width: 119em;
    height: 67.5em;
  }

  #email-content {
    transform: translate(157%, 47%);
  }

  #email-bkgrnd {
    width: 119em;
    height: 67.5em;
  }

  #email a {
    top: 11.25em;
    left: 31.5em;
  }

  .headr {
    width: 112.5em;
    margin: 1.25em 0 0 6.5em;
  }

  .headr > div:nth-child(2) {
    margin-left: 34.25em;
  }

  .copy {
    width: 113.5em;
    height: 53.5em;  
    margin: 14em 0 0 6.5em;
  }

  .sctn_1-blok, 
  .sctn_3-blok, 
  .sctn_4-link, 
  #sctn_5-job_titles {
    width: 20em;
  }

  #sctn_1-desc-1 {
    left: 68em;
  }

  #sctn_2-video {
     width: 50em;
     height: 28.1em;
     margin-left: 27em;
   }

   #sctn_2-document {
     width: 38em;
     height: 28.55em;
     margin-left: 33em;
   }

   #sctn_5-job_titles {
     left: 56em;
   }
}