/* Filename: nav.css 
 *  + Contains the CSS styling for all of the navigation elements.
 *  !!! NOTE !!! Does not contain styling for the content or form elements. 
 * 
 *  + All measurements are given in terms of 'em' except for background position values which are 
 *    given in terms of 'px'.
 * 
 *  + The responsive breaklines fall according to the following browser dimensions:
 *    - 1920x1020
 *    - 1600x900
 *    - 1366x768
 *    - 1280x800
 * ******************************************************************************************** */

nav {
	top: 0;
  position: fixed;
  opacity: 0;
	z-index: 6;
}
/* Formats the <nav> element which contains the inter-sectional navigation. */

.nav-base {
  position: fixed !important;
}
/* Sets a class which is used to alter the 'click-state' of the side panel  
 * which contains the menu options which slides 'out' of the left of the page. 
 * This class sets the <nav> element to appear in a 'fixed' location 
 * in the browser window.
 */

.nav-click {
  position: absolute !important;
}
/* Sets a class which is used to alter the 'click-state' of the side panel
 * which contains the menu options which slides out of the left of the page.
 * This class sets the <nav> element to appear in a location that is 
 * determined by the CSS properties and values set by 'nav.js'. 
 */

#nav-link {
	width: 3.13em;
	height: 3.13em;
	position: fixed;
	top: 25px;
	left: 25px;
	z-index: 10;
	background-image: url('/assets/img/nav/nav.png');
	background-repeat: no-repeat;
}
/* Formats a <div> element which serves as the menu 'button'. */

.nav-base {
	background-position: 0 0;
	cursor: default;
}
/* Sets a class which is used to alter the 'click-state' of the menu icon 
 * appears in the upper left of the page. 
 * This is the default, 'base', click state.
 */

.nav-hover {
	background-position: 0 -50px;
	cursor: pointer;
}
/* Sets a class which is used to alter the 'click-state' of the menu icon 
 * appears in the upper left of the page. 
 * This is the mouseover, or 'hover', click state.
 */

.nav-click_1 {
	background-position: 0 -100px;
	cursor: pointer;
}
/* Sets a class which is used to alter the 'click-state' of the menu icon 
 * appears in the upper left of the page. 
 * This is a 'click' state that is only meant to be visible for the duration 
 * of the clicking of the mouse.
 */

.nav-click_2 {
	background-position: 0 -150px;
	cursor: pointer;
}
/* Sets a class which is used to alter the 'click-state' of the menu icon 
 * appears in the upper left of the page. 
 * This is the state which appears when the navigation panel is open. 
 */

#nav-bkgrnd {
	width: 20.45em;
	height: 100%;
	position: fixed;
  left: -20.45em;
	z-index: 7;
	background-color: #666;
}
/* Formats a <div> element which serves as a background to the inter-sectional 
 * menu options. 
 */

#nav-brdr {
	width: 20.45em;
	height: 6.25em;
	position: fixed;
  left: -20.45em;
	z-index: 8;
	background-color: #444;
}
/* Formats a <div> element which appears at the top of the inter-sectional navigation 
 * menu. 
 */

#options {
	height: inherit;
  display: none;
  position: fixed;
	top: 6.56em;
  left: 25px;
  opacity: 0;
	z-index: 9;
}
/* Formats a <div> element which holds of the individual menu options in the 
 * inter-sectional menu panel.
 */

.options-base {
  display: none;
  opacity: 0;
}
/* Sets a class which is used to alter the 'click-state' of the collection of menu options 
 * which is contained in the navigation panel.
 * This click-state is the base state.
 */

.options-click {
  display: block !important;
  opacity: 1 !important;
}
/* Sets a class which is used to alter the 'click-state' of the collection of menu options  
 * which is contained in the navigation panel.
 * This state is activated once the navigation panel has been activated.
 */

.option-base {
  background-color: #000 !important;
  color: #fff !important;
  cursor: default !important;
}
/* Sets a class which is used to alter the 'click-state' of a menu option 
 * which is contained in the navigation panel.
 * This class represents the 'base' click state.
 */

.option-hover {
	background-color: #808080 !important;
	color: #fff !important;
	cursor: pointer !important;
}
/* Sets a class which is used to alter the 'click-state' of a menu option 
 * which is contained in the navigation panel.
 * This class represents the 'hover' click state.
 */

.option-click {
	background-color: #A6A6A6 !important;
	color: #000 !important;
}
/* Sets a class which is used to alter the 'click-state' of a menu option 
 * which is contained in the navigation panel.
 * This class represents the 'click' click state.
 */

#options > a {
	width: 12.4em;
	height: 2.35em;
	margin: 0.5em;
	padding: 1em;
	display: block;
  float: left;
	font-family: 'korolev-military-stencil', Arial, sans-serif;
  font-size: 1.25em;
	background-color: #000;
	color: #fff;
	cursor: pointer;
}
/* Formats the <a> elements which serve as menu options in the inter-sectional 
 * menu.
 */

.sctn_nav {
  position: absolute;
}
/* Formats a <div> element which contains the intra-sectional navigation 
 * which appears near the bottom of the pages within 'SECTION #3' and 'SECTION #4' 
 */
 

.sctn_nav > div > a {
  width: 7.05em;
  height: 3.21em;
  margin-right: 0.75em;
	padding: 0 0.5em;
  display: block;
  float: left;
	background-color: #fff113;
	border: none;
	cursor: pointer;
}

.sctn_nav > div > a:hover {
  color: #f51b74;
}

#nav-sctn_1, 
#nav-sctn_2, 
#nav-sctn_4 {
  top: 7em;
  left: 6.5em;
}

#nav-sctn_1 > div {
  width: 52em;
	height: 6em;
}
/* Formats the <div> element which serves as a container for the <div> and <span> 
 * elements which make up the inter-sectional navigation for 'SECTION #3' 
 * and 'SECTION #4'.
 */

#nav-sctn_1 > div > a:nth-child(1), 
#nav-sctn_1 > div > a:nth-child(4), 
#nav-sctn_1 > div > a:nth-child(5) {
  height: 3.75em;
  padding-top: 1.2em;
}
/* 
 * Formats links within a <div> using the selector ".sctn_nav".
 * The selectors attached to this CSS pairing are used for links with 
 * text using 2 individual lines.
 */

#nav-sctn_1 > div > a:nth-child(2), 
#nav-sctn_1 > div > a:nth-child(3) {
  height: 4.5em;
  padding-top: 0.5em;
}
/* 
 * Formats links within a <div> using the selector ".sctn_nav".
 * The selectors attached to this CSS pairing are used for links with 
 * text using 3 individual lines.
 */

#nav-sctn_1 > div > a:nth-child(5), 
#nav-sctn_2 > div > a:nth-child(1) {
  margin-right: 0;
}

#nav-sctn_2, 
#nav-sctn_4 {
  width: 9.75em;
}

#nav-sctn_2 > div, 
#nav-sctn_4 > div {
  width: 9.75em;
  height: 13em;
}

#nav-sctn_2 > div > a, 
#nav-sctn_4 > div > a {
  padding-top: 1.75em;
}

#nav-sctn_2 > div > a:nth-child(1), 
#nav-sctn_4 > div > a:nth-child(1) {
  margin-bottom: 0.75em;
}

/*
#nav-sctn_1 > div > a:nth-child(1), 
#nav-sctn_ > div > a:nth-child(2) {
  padding: 1.5em 0 0 0;
}*/
/*  Formats the left and middle links which serve as intra-section navigation. */

/*#nav-sctn_2 > div > a:nth-child(3) {
  margin-right: 0;
}
*//* Formats the right link which serve as intra-section navigation. */



@media screen and (min-width: 1030px) and (max-width: 1290px) {
  /* This CSS breakpoint affects browsers which have a width of at least 1260px. 
  * This breakpoint is optimized to fit resolutions of 1280x800. 
  */
  
   nav, 
  #nav-bkgrnd, 
  #nav-brdr {
    width: 40em;
    left: -40em;
  }
  
  #options {
    width: 38.5em;
  }
    
  .sctn_nav {
    width: 79em;
    height: 6.1em;
    top: 39em;
  }

  #nav-sctn_1, 
  #nav-sctn_2, 
  #nav-sctn_4 {
    top: 8em;
    left: 6.5em;
  }
}

@media screen and (min-width: 1260px) and (min-height: 980) {
 /* This CSS breakpoint affects browsers which have a width more than 1260px and a height greater than 980px. 
  * This breakpoint is optimized to fit resolutions of 1280x1024.
  */

  nav, 
  #nav-bkgrnd, 
  #nav-brdr {
    width: 40em;
    left: -40em;
  }
  
  #options {
    width: 38.5em;
  }
  
  #options > a {
    width: 8.61em;
    display: inline-table;
    font-size: 1.25em;
  };

}

@media screen and (min-width: 1340px) and (max-width: 1580px) {
  /* This CSS breakpoint affects browsers which have a width more than 1340px and a width less than 1890px. 
  * This breakpoint is optimized to fit resolutions of 1366x768px and 1600x900px.
  */

  nav, 
  #nav-bkgrnd, 
  #nav-brdr {
    width: 36.5em;
    left: -36.5em;
  }
  
  #options {
    width: 36.5em;
    left: -36.5em;
  }

  #options > a {
    width: 11.6em;
    float: left;
  }
  
  #nav-sctn_1, 
  #nav-sctn_2, 
  #nav-sctn_4 {
    top: 8em;
    left: 6.5em;
  }
}

@media screen and (min-width: 1590px) and (max-width: 1900px) {
  /* This CSS breakpoint affects browsers which have a width more than 1590px and a width less than 1900px. 
   * This breakpoint is optimized to fit resolutions of 1600x900px.
   */

   nav, 
   #nav-bkgrnd {
     height: 49.5em;
   }

   nav, 
   #options, 
   #nav-bkgrnd, 
   #nav-brdr {
     width: 38.5em;
     left: -38.5em;
   }
  
  
  .sctn_nav {
    width: 92.5em;
  }

  #nav-sctn_1, 
  #nav-sctn_2, 
  #nav-sctn_4 {
    top: 8.75em;
  }
}

@media screen and (min-width: 1910px) {
  /* This CSS breakpoint affects browsers which have a width more than 1910px.
   * This breakpoint is optimized to fit resolutions of 1920x1020px.
   */

  nav, 
  #nav-brdr,
  #nav-bkgrnd, 
  #options {
    width: 40em;
    left: -40em;
  }

  nav, 
  #nav-bkgrnd {
    height: 67.5em;
  }

  #options {
    height: initial;
  }

  #options > a {
    width: 12.4em;
    height: 2.15em;
    margin: 0.75em;
  }

  #nav-sctn_1 {
    width: 119em;
  }
}