/* es.css */

#email-content {
  height: 21em
}

#email-content span {
  margin-top: 0;
}

#info > div + div > p:nth-child(4) {
  padding-left: 3.5em;
}

.wndow-footer > span {
  width: 55.5em;
}

#nav-sctn_1 > div > a:nth-child(1), 
#nav-sctn_1 > div > a:nth-child(4) {
  height: 3.25em;
  padding-top: 1.75em;
}

#sctn_3-faq_links > a:nth-child(2) {
  height: 1.25em;
  padding-top: 1.75em;
}

#nav-sctn_1 > div > a:nth-child(3) {
  height: 3.75em;
  padding-top: 1.25em;
}

#nav-sctn_1 > div > a:nth-child(5) {
  height: 4.5em;
  padding-top: 0.5em
}

#sctn_2-club_vision {
  height: 13.75em;
}

.headr > div > a {
  padding-left: 0;
}

.headr.sctn_4 > div > span {
  width: 19.5em;
}

.headr.sctn_4 > div:nth-child(2) {
  margin-left: 25.75em;
}

#options > a {
  height: 2.8em;
}

@media screen and (min-width: 1260px) and (max-width: 1320px) {
  #info > div + div > p:nth-child(4) {
    padding-left: 0;
  }

  .headr.sctn_4 > div:nth-child(2) {
    width: 15.5em;
    margin-left: 7em !important;
  }

  .headr.sctn_4 > div + div > a:first-of-type {
    margin-bottom: 0.4em;
  }
}


@media screen and (min-width: 1340px) and (max-width: 1580px) { 
  #email-content {
    transform: translate(97%, -38%);
  }

  #wufoo-s10l7nat0t4u9ec {
    top: 16.8em;
  }
  
  .headr.sctn_4 > div:nth-child(2) {
    width: 15.5em;
    margin-left: 7.5em !important;
  }

  .headr.sctn_4 > div + div > a:first-of-type {
    margin-bottom: 0.4em;
  }

  #sctn_4-desc {
    width: 32.5em !important;
  }

  #sctn_4-desc > div:first-of-type {
    width: 32.5em;
  }

  #sctn_4-desc > div:first-of-type > span:nth-child(1) {
    width: 11em;
  }

  #sctn_4-desc > div:first-of-type > span:nth-child(2) {
    width: 21.5em;
  }

  #sctn_8-links {
    height: 28em;
  }

  #sctn_8-links > div:nth-child(2), 
  #sctn_8-links > div:nth-child(4) {
    height: 1em;
  }

  .blok-social_media {
    margin-bottom: 0.5em;
  }

  #sctn_8-facebook img, 
  #sctn_8-instagram img {
    width: 5em;
    height: 5em;
  }

  #sctn_8-twitter img {
    width: 6.05em;
    height: 5em;
  }

}


@media screen and (min-width: 1590px) and (max-width: 1900px) {
  #info > div + div > p:nth-child(4) {
    padding-left: 1.5em;
  }

  .headr.sctn_4 > div:nth-child(2) {
    margin-left: 6em !important;
  }
}

@media screen and (min-width: 1910px) {
  #sctn_6-desc, 
  #sctn_6-form {
    height: 36em;
  } 
}
 
